.active
{
    /*style this later*/
    color: #540D6E !important;
    font-size: 20px !important;
    font-weight: 800 !important;
}

a
{
    transition: .1s;
}

.active-sub
{
    color: #540D6E !important;
    transition: color .1s, left .2s !important;
    left: 0px !important;
}

/*
Img
{
    border-radius: "270px"; 
    max-width: "600px"; 
    max-height: "230px"; 
    flex: "0.5"; 
    overflow: "hidden"; 
    object-fit: "cover";
}
*/